<launch>
    <node pkg="jettank" name="vision" type="jt_vision_node.py" output="screen"></node>
    <node pkg="jettank" name="workspace" type="jt_planning_workspace_node.py" output="screen"></node>
    <node pkg="jettank" name="motorcontroller" type="jt_motorcontrol_node.py" cwd="node" output="screen"></node>
</launch>
